**Input Method**

In [ ]:
name = input("Please enter your name: ")
age = int(input("Please enter your age: ")) #cast input to int
type(age)
print("Hello:",name,"you are",age,"years old")

**BMI Calculator**

In [ ]:
# BMI = weight (kg) / height (m)^2
name = input("Please enter your name: ")
height = int(input("please enter your height in cm: "))/100 # convert cm to m
weight = int(input("please enter your weight in kg: "))
bmi = int(weight // (height ** 2))
print("Hello:",name,"your BMI is:",(bmi))

****List****

Indexing

In [ ]:
weekdays = ["Monday","Tueday","Wednesday","Thursday","Friday","Saturday","Sunday"]
weekdays[0]

In [ ]:
weekdays = [1,"Monday",2.5,9,True,"Tuesday",3.14,False,4,"Wednesday"]
weekdays[4]

Nested Indexing

In [ ]:
nested_list = ["Monday",[1,2,3,4,5]]
nested_list[1]

In [ ]:
nested_list = ["Monday",[1,2,3,4,5]]
nested_list[1][2]

Negative Indexing

In [ ]:
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
weekdays[-1]  # Accessing the last element using negative indexing

In [ ]:
weekdays = [1,"Monday",0.45,9,True,"Tuesday",3.14,False,4,"Wednesday"]
weekdays[-4]  # Accessing the 4th last element using negative indexing

Slicing

In [ ]:
everyday = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
everyday[0:5]  # Slicing to get the first five elements

In [ ]:
everyday = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
everyday[4:-2]  # Slicing to get elements from index 4 to the second last element

In [ ]:
everyday = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
everyday[1:5:2] # Slicing to get every second element from index 1 to 5

In [ ]:
everyday = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
everyday[:2]  # Slicing to get every second element from the entire list

In [ ]:
everyday = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
everyday[4:]  # Slicing to get elements from index 4 to the end of the list

In [ ]:
everyday = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
everyday[:-2]  # Slicing to get all elements except the last two

**Adding List to Element**

Append Method

In [ ]:
num_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
num_list.append(5)  # Adding an element to the end of the list
print(num_list)

Extend Method

In [ ]:

num_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
num_list.extend([110,120,130]) # Adding multiple elements to the end of the list
print(num_list)

Insert Method

In [ ]:
num_list = [10, 20, 30, 40, 80, 90, 100]
num_list.insert(4, 50)  # Inserting an element at index 4
print(num_list)

Insert range of elements to a specific in the list

In [ ]:
num_list = [10, 20, 30, 40, 80, 90, 100]
num_list[4:3] = [50, 60, 70]  # Inserting multiple elements at index 3
print(num_list)

**Changing Elements of the list**

In [ ]:
num_list = [10, 20, 30, 40, 50]
num_list[0] = 0 # Changing the first element
print(num_list)

In [ ]:
num_list = [10, 20, 30, 40, 50]
num_list[0:3] = [1, 2, 3] # Changing the first three elements
print(num_list)

Concatenating Lists

In [ ]:
week = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
weekend = ["Saturday", "Sunday"]
week = week + weekend  # Concatenating two lists
print(week)

In [ ]:
week = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
weekend = ["Saturday", "Sunday"]
week += weekend  # Concatenating two lists using +=
print(week)

**Repeating Lists**

In [ ]:
num_list = [1, 2, 3, 4, 5]*3  # Repeating the list three times
print(num_list)

**Deleting Elements from a Lists**

Remove Method

In [ ]:
num_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
num_list.remove(50) # Removing an element by value
print(num_list)

Pop Method

In [ ]:
num_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
num_list.pop(4)  # Removing an element by index
print(num_list)

Delete Method

In [ ]:
num_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
del num_list[0:5]  # Deleting elements from index 0 to 4
print(num_list)

In [ ]:
num_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
del num_list[0] # Deleting the first element
print(num_list)

**Clear Elements from a Lists**

In [ ]:
num_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
num_list.clear()  # Clearing all elements from the list
print(num_list)  # This will print an empty list

In [ ]:
num_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
num_list[:] = []  # Clearing all elements from the list using slicing
print(num_list)  # This will print an empty list

**Checking Memberships in a List**

In [ ]:
num_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
40 in num_list  # Checking if 40 is in the list

In [ ]:
50 in num_list  # Checking if 50 is in the list

In [ ]:
num_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
40 not in num_list  # Checking if 40 is not in the list

In [ ]:
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
"Monday" in weekdays  # Checking if "Monday" is in the list

In [ ]:
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
"Monday" not in weekdays  # Checking if "Monday" is not in the list

**Other Methods and Functions**

In [ ]:
num_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
num_list.reverse()  # Reversing the list in place
print(num_list)

num_list.sort()  # Sorting the list in ascending order
print(num_list)

num_list.count(50)  # Counting occurrences of 50 in the list
print(num_list)

In [ ]:
len(num_list)  # Getting the length of the list
print(len(num_list))

In [ ]:
max(num_list)  # Getting the maximum value in the list

In [ ]:
min(num_list)  # Getting the minimum value in the list

In [ ]:
sum(num_list)  # Getting the sum of all elements in the list

****Exploring Dictionary****

Tuple

In [ ]:
my_tuple = (1, 2, 3, 4, 5)  # Creating a tuple
print(my_tuple)

**Set**

Example set

In [ ]:
int_set = {1, 2, 3, 4, 4, 5, 5}  # Creating a set with integers
print(int_set)

Adding Element to set

In [ ]:
int_set = {1, 2, 3, 4, 4, 5, 5}  # Creating a set with integers
int_set.add(0)  # Adding an element to the set
print(int_set)

Update Element to set

In [ ]:
int_set = {1, 2, 3, 4, 4, 5, 5}  # Creating a set with integers
int_set.update([-1, 0])  # Adding multiple elements to the set
print(int_set)

Delete Elements from set

In [ ]:
int_set = {1, 2, 3, 4, 4, 5, 5}  # Creating a set with integers
int_set.remove(4) # Removing an element from the set
print(int_set)

Clear Element from Set

In [ ]:
int_set = {1, 2, 3, 4, 4, 5, 5}  # Creating a set with integers
int_set.clear()  # Clearing all elements from the set
print(int_set)  # This will print an empty set

Union Operator

In [ ]:
num_set1 = {1, 2, 3, 4, 5}
num_set2 = {4, 5, 6, 7, 8}
num_set1.union(num_set2) # Performing union operation

In [ ]:
num_set1 | num_set2  # Performing union operation using the | operator

Intersection Operator

In [ ]:
set1 = {1,2,3}
set2 = {2,3,3,4}
set1.intersection(set2) # Performing intersection operation

In [ ]:
set1 & set2 # Performing intersection operation using the & operator

Difference Operator

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.difference(set2) # Performing difference operation

In [ ]:
set1 - set2  # Performing difference operation using the - operator

Symmetric Difference Operator

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.symmetric_difference(set2) # Performing symmetric difference operation

In [ ]:
set1^set2 # Performing symmetric difference operation using the ^ operator

In/Not In Operators

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1 in set2  # Checking if an element is in the set

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1 not in set2 # Checking if an element is not in the set

In [ ]:
1 in set1  # Checking if an element is in the set

In [ ]:
1 not in set1  # Checking if an element is not in the set

In [ ]:
3 in set2  # Checking if an element is in the set

In [ ]:
4 not in set2 # Checking if an element is not in the set

Access Element of a Dictionary

In [ ]:
my_dictionary = {'name':'Purit', 'subject': 'Python', 'score': 0.95,} # Accessing an element in the dictionary
my_dictionary['name']

In [ ]:
my_dictionary.get('name') # Accessing an element in the dictionary using get method

**Add and Change Key-value pair to a Dictionary**

Adding Key-value

In [ ]:
my_dictionary = {'name':'Purit', 'subject': 'Python', 'score': 0.95,'ranking': 1}
my_dictionary['result'] = 'pass'  # Adding a new key-value pair to the dictionary
print(my_dictionary)

Overwrite Key-Value

In [ ]:
my_dictionary = {'name':'Purit', 'subject': 'Python', 'score': 0.95}
my_dictionary['score'] = 98 # Overwriting an existing key-value pair in the dictionary
print(my_dictionary)

Delete Key-value Pair

In [ ]:
my_dictionary = {'name':'Purit', 'subject': 'Python', 'score': 0.95}
my_dictionary.pop('score')  # Deleting a key-value pair from the dictionary
print(my_dictionary)

Clear Key-Value

In [ ]:
my_dictionary = {'name':'Purit', 'subject': 'Python', 'score': 0.95}
my_dictionary.clear() # Clearing all key-value pairs from the dictionary
print(my_dictionary)  # This will print an empty dictionary

Update Dictionary from another Dictionary

In [ ]:
my_dictionary = {'name':'Purit', 'subject': 'Python', 'score': 0.95}
my_dictionary2 = {'score': 98, 'result': 'pass'}
my_dictionary.update(my_dictionary2)  # Updating the dictionary with another dictionary
print(my_dictionary)

List Element in a Dictionary

In [ ]:
my_dictionary = {'name': 'Purit', 'subject': 'Python', 'score': 98, 'result': 'pass'}
my_dictionary.items()  # Getting all key-value pairs in the dictionary

In [ ]:
my_dictionary.values() # Getting all values in the dictionary

In [ ]:
my_dictionary.keys() # Getting all keys in the dictionary

Checking Membership in a Dictionary

In [ ]:
my_dictionary = {'name':'Purit', 'subject': 'Python', 'score': 0.95}
'name'in my_dictionary  # Checking if a key is in the dictionary

In [ ]:
'score' not in my_dictionary  # Checking if a key is not in the dictionary

Others Function in Dictionary

In [ ]:
my_dictionary = {'name':'Purit', 'subject': 'Python', 'score': 0.95}
len(my_dictionary)  # Getting the number of key-value pairs in the dictionary

In [ ]:
pair_list = [("name", "John"), ("subject", "Math"), ("score", 95), ("ranking", 1)]
new_dict = dict(pair_list)
print(new_dict)

In [ ]:
type(new_dict)  # Checking the type of the new dictionary

## Conditional Statements and Loop

**If-Elif-Else Statement**

If

In [4]:
num_list = [10 , 20, 30, 40, 50]
guess = eval(input("Please guess a number on the list: "))
if guess in num_list:
    print("You guessed it right!")
print("You can get the prize when you guess the number right!")

You can get the prize when you guess the number right!

If/Else

In [7]:
num_list = [10 , 20, 30, 40, 50]
guess = eval(input("Please guess a number on the list: "))
if guess in num_list:
    print("You guessed it right!")
else:
    print("You guessed it wrong!")
print("You can get the prize when you guess the number right!")

You guessed it right!
You can get the prize when you guess the number right!

Elif

In [9]:
firstPrize_num_list = [10 , 20, 30, 40, 50]
secondPrize_num_list = [60, 70, 80, 90, 100]
guess = eval(input("Please guess a number on the first prize list: "))
if guess in firstPrize_num_list:
    print("You win the first prize!")
elif guess in secondPrize_num_list:
    print("You win the second prize!")
else:
    print("Sorry, you guessed it wrong!")
print("Thank you for your participation!")

Sorry, you guessed it wrong!
Thank you for your participation!